* {
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 6vw;
  color: #ffffff;
  margin-top: 5%;
}

div {
  background-color: #ffffff;
  padding: 7px;
  padding-bottom: 25px;
  width: 90%;
  text-align: left;
  margin: 15px 0px 15px 4%;
}

h2 {
  color: #445A64;
  font-size: 3vw;
  border-bottom: 1px solid #cfd8dc; 
  padding: 5px;
} 

h3 {
  border-bottom: 1px solid #cfd8dc; 
  padding: 10px;
}

h3 a {
  color: #607d8b;
  font-size: 2.5vw;
  font-weight: 400;
}

h3 a:hover {
  color: #455a64;
  text-decoration: underline solid #ffc107;
}

h4 {
  padding: 10px;
}

.user-input {
  background-color: #455A64;
  text-align: center;
  }

.link-display {
  background-color: #cfd8dc;
  left: 50%;
  text-align: center;
  /* padding-top: 15px; */
  }

.logo {
  height: 6vw;
}

.link-title,
.link-url {
  display: block;
  margin: 15px auto;
  width: 80%;
}

.user-input-button {
  background-color: #ffc107;
  width: 80%;
}

.user-input-button:hover {
  background-color: #ffd773;
}

.read-button,
.delete-button {
  border: none;
  background-color: transparent;
  color: #607d8b;
  text-decoration: underline solid #f2f4f4;
}

.read-button {
  float: left;
}

.delete-button {
  float: right;
}

.read-button:hover,
.delete-button:hover {
  border: none;
  background-color: transparent;
  color: #455a64;
  font-family: 'open sans', sans-serif;
  text-decoration: underline solid #ffc107;
}

.read {
  background-color: #F2F4F4;
}

.read .read-button {
  color: #f05a28;
}

.counters {
  background-color: #CFD8DC;
  width: 60%;
  margin: 4% auto;
  padding: 5px;
  border: 5px solid #FFFFFF;
  font-weight: 600;
}

.read-counter,
.link-counter,
.unread-counter {
  color: #455a64;
}

.user-input {
  grid-area: userinput;
  height: 45vh;
}

.link-display {
  grid-area: linkdisplay;
  height: 55vh;
}

.grid {
  display: grid;
  grid-template-areas: 
    'userinput'
    'linkdisplay';
}

@media only screen 
  and (min-width: 800px) {
  
  h1 {
    margin-top: 50%;
  }
  
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'userinput linkdisplay';
  }

  .user-input {
    height: 100vh;
  }

  .link-display {
   height: 100vh;
  } 
}