* {
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 6vw;
  color: #ffffff;
}

body {
  display: grid;
  grid-template-columns: auto auto;
}

h2 {
  color: #445A64;
  font-size: 3vw;
} 

h3 a {
  color: #607d8b;
  font-size: 2vw;
}

.user-input {
  background-color: #455A64;
  height: 100%;
  float: left;
  position: absolute;
  width: 50%;
  text-align: center;
  padding-top: 20%;
}

.logo {
  height: 6vw;
}

.link-title,
.link-url {
  display: block;
  margin: 15px auto;
  width: 60%;
}

.user-input-button {
  background-color: #ffc107;
  width: 60%;
}

.user-input-button:hover {
  background-color: #ffd773;
}

.link-display {
  background-color: #cfd8dc;
  height: 100%;
  float: right;
  left: 50%;
  position: absolute;
  width: 50%;
  text-align: center;
  padding: 5%;
}